<%- include('../partials/header') %>
<a href="" style="font-size: small;">add to wish list</a><br>
<a href="" style="font-size: small;">add to already climbed</a>


<section class="adminPreview">
    <div>Location: <%= routes.location %></div><br><br>
    <div>Style: <%= routes.style %></div><br><br>
    <div>Difficulty: <%= routes.difficultyRating %></div><br><br>
    <div>First Ascent: <%= routes.firstAscent %></div><br><br>
    <div>Description: <%= routes.description %></div><br><br>
</section>



<% if (routes.comment.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Comment</th>
          <th>Rating</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% routes.comment.forEach(function(c) { %>
          <tr>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td style="width: 500px; text-align: center;"><%= c.text %></td>
            <td><%= c.rating %> jugs </td>
            <td><%= c.userName %> </td>
            <% if (user && c.userId.equals(user._id)) { %>
              <td><form action="/comments/<%= c._id %>?_method=PUT" method="POST">
                <label>Comment:</label>
                <textarea name="text"></textarea>
                <label>Rating:</label>
                <select name="rating">
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
                <input type="hidden" name="userName" value="<%= user.name %> ">
                <input type="submit" value="update comment"></form></td>
              <td><form action="/comments/<%= c.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">X</button></form></td>
              <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
  <% } if (!user) { %>
    <h5><a href="/auth/google"><i class="material-icons left"></i>Login to leave a comment</a></h5>
  <% } %> 

  <% if (user) { %>
<br><br><h3>Add a Comment</h3>
<form id="add-review-form" method="POST"
  action="/routes/<%= routes._id %>/comments">
  <label>Comment:</label>
  <textarea name="text"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <input type="hidden" name="userName" value="<%= user.name %> ">
  <input type="submit" value="Add Review">
</form>
<% } %>


<a href="#top">back to the top</a><br>
<%- include('../partials/footer') %>